
#taskbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

}

#home {
	height: 850px;
	text-align: center;
	background: center fixed;
	background-image: url("bkskyline.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: #333;

}

#homecontent {
	padding: 200px 50px 50px 20px;
}

#about {
	height: 850px;
	text-align: center;
	background: center fixed;
	color: #333;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: white;
}

#aboutcontent {
	padding: 75px;
}


#portfolio {
	height: 850px;
	text-align: center;
	background: center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: auto;
	background-color: #333;
	color: white;

}

.sizetest{
	display: inline-block;
}

#portcontent {
	margin: auto;
	padding-top: 75px;
	padding-bottom: 75px;
}


#contact {
	height: 850px;
	text-align: center;
	background: center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: white;
	color: #333;
}

#contactcontent {
	padding: 7cm;
	background-color: white;
}

body {
	font-size: 100%;
}

h1.titlefont {
	font-size: 6.25em;
}

h2 {
	font-size: 3em;
	

}

h4 {
	
}

h6 {
	
}

p {
	font-size: 1.5em;
	
}

li {
	padding-left: 25px;
	float: left;
	font-size: 1.5em;
	

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    

}

hr {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border: 1px dotted #000000;
	color: white;
}

.button {
	margin: 2px;
}

.rotate {
	
	transform: rotate(180deg);
}