
#taskbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;	
	background-color: #1f3956;
}

#home {
	height: 850px;
	text-align: center;
	background: center fixed;
	background-image: url("bkskyline.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;

}

#homecontent {
	padding: 100px 575px 5px 20px;
}

#about {
	height: 850px;
	text-align: center;
	background: center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #0073e5;
	background-image: url("coffee.jpg");
	color: white;
}

#aboutcontent {
	padding: 175px;
}


#portfolio {
	height: 850px;
	text-align: center;
	background: center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: auto;
	background-color: #333;
	background-image: url("metalbackground.jpg");
	color: white;

}

.sizetest{
	display: inline-block;
}

#portcontent {
	margin: auto;
	padding-top: 75px;
	padding-bottom: 75px;
}


#contact {
	height: 850px;
	text-align: center;
	background: center fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: white;
	color: white;
	background-image: url(space.jpg);
}

#contactcontent {
	padding: 7cm;
}

body {
	font-size: 100%;
	text-shadow: -.5px 0 #444444, 0 .5px #444444, .5px 0 #444444, 0 -.5px #444444;
	font-family: 'PT Sans Narrow', sans-serif;
}

.titlefont {
	font-size: 7em;
	color: #1f3956;
}

.titlefonttwo {
	font-size: 7em;
	color: #4783c1;
}

h2 {
	font-size: 3em;

}

h3 {

}

h4 {
	color: white;
}

h6 {
	color: white;
}

p {
	font-size: 1.5em;
	
}

li {
	padding-left: 5%;
	float: left;
	font-size: 1.5em;
	color: #1f3956;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    

}

/*hr {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px dotted 	#4783c1;

}
*/
.button {
	margin: 2px;
}

.rotate {
	
	transform: rotate(180deg);
}